html{
    font-size: 22px;
}
/* This is making it as dark mode */
body{
    background-color: #0d0b0b;
    color: whitesmoke;
}

a{
    color: lightgreen;
}

/* : is used to represent a state of an html element */
a:visited{
    color: rgb(110, 255, 110);
}

/* , is used to give same characteristics to different elements at the same time */
a:hover, a:active{
    color: rgb(190, 255, 190);
}